<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<!-- <title><ui:insert name="title"><h:outputText value="#{msg['application.title']}"></h:outputText> </ui:insert></title> -->
	<h:outputStylesheet library="css" name="bootstrap.css"></h:outputStylesheet>
	<h:outputStylesheet library="css" name="main.css"></h:outputStylesheet>
</h:head>

<body>
	<ui:debug hotkey="x" rendered="#{initParam['javax.faces.FACELETS_DEVELOPMENT']}" />

	<div id="header">
		<ui:insert name="header">
			<h:form>
				<div class="navbar navbar-default navbar-fixed-top" role="navigation">
					<div class="container">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<!-- <a class="navbar-brand" href="#{request.contextPath}">PT. XYZ</a> -->
						</div>
						<div class="collapse navbar-collapse">
							<ul class="nav navbar-nav">
								<li class="active">
									<a href="#{request.contextPath}">
										<h:outputText value="Home"></h:outputText>
									</a>
								</li>
								<!-- <li><a href="#{request.contextPath}/newpost.xhtml"><h:outputText value="#{msg['menu.post.new']}"></h:outputText></a></li> -->
								<li class="dropdown">
									<a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">
										Master Data
										<span class="caret"></span>
									</a>

									<ul class="dropdown-menu">
										
										<li class="divider"></li>
										<li>
											<a href="#"> Info </a>
										</li>
									</ul>

								</li>
							</ul>


							<h:form styleClass="navbar-form navbar-right">
								<div class="form-group">
									<!-- <h:selectOneMenu styleClass="form-control" value="#{sessionBean.locale}" onchange="submit()" valueChangeListener="#{sessionBean.onLanguageChange}">
                    <f:selectItems value="#{sessionBean.supportedlanguages}"></f:selectItems>
            </h:selectOneMenu> -->
								</div>
							</h:form>
						</div>
						<!--/.nav-collapse -->

					</div>
				</div>
			</h:form>
		</ui:insert>
	</div>


	<div id="content" class="container">

		<ui:insert name="content">
			
		</ui:insert>
	</div>

	<div id="footer">
		<ui:insert name="footer">
			<div id="footer">
				<div class="container">
					<br />
					<h:outputText styleClass="text-muted" value="Copyright #{indexController.magicBean}"></h:outputText>
				</div>
			</div>
		</ui:insert>
	</div>


	<h:outputScript library="js" name="jquery-1.11.1.min.js"></h:outputScript>
	<h:outputScript library="js" name="bootstrap.min.js"></h:outputScript>
</body>
</html>
>>>>>>> 165690e13eb75a5cd71b444bcb763e91e5e7b7a1
